@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  background: #0d0d0d;
}

.ball {
  background-color: #de5327;
  --size: 0.15;

  aspect-ratio: 1;
  width: calc(100% * var(--size));
  filter: blur(5vw);

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;

  /* transform-origin: 50% 50%; */

  opacity: 0.7;
}

.glow-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0d0d0d;
}

.ball {
  --delay: 0s;
  --size: 0.1;
  --speed: 90s;

  aspect-ratio: 1;
  width: 200px;

  background: linear-gradient(259.53deg, #f55f0a 6.53%, #f55f0a 95.34%);
  filter: blur(6vw);

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;

  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 150% 50%;

  opacity: 0.6;
}

.ball1 {
  --delay1: -10s;
  --size1: 0.12;
  --speed1: 60s;
  aspect-ratio: 1;
  width: 300px;

  background: linear-gradient(259.53deg, #f55f0a 6.53%, #f55f0a 95.34%);
  filter: blur(8vw);

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;

  animation: loop var(--speed1) infinite linear;
  animation-delay: var(--delay1);
  transform-origin: 0% 150%;

  opacity: 0.6;
}

.ball2 {
  --delay2: -12s;
  --size2: 0.18;
  --speed2: 80s;

  aspect-ratio: 1;
  width: 350px;

  background: linear-gradient(259.53deg, #de5327 6.53%, #de5327 95.34%);
  filter: blur(10vw);

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;

  animation: loop var(--speed2) infinite linear;
  animation-delay: var(--delay2);
  transform-origin: 150% 50%;

  opacity: 0.6;
}

@keyframes loop {
  0% {
    transform: translate3D(0%, 51%, 0) rotate(0deg);
  }
  5% {
    transform: translate3D(8%, 31%, 0) rotate(18deg);
  }
  10% {
    transform: translate3D(22%, 13%, 0) rotate(36deg);
  }
  15% {
    transform: translate3D(40%, 2%, 0) rotate(54deg);
  }
  20% {
    transform: translate3D(46%, 21%, 0) rotate(72deg);
  }
  25% {
    transform: translate3D(50%, 47%, 0) rotate(90deg);
  }
  30% {
    transform: translate3D(53%, 80%, 0) rotate(108deg);
  }
  35% {
    transform: translate3D(59%, 98%, 0) rotate(125deg);
  }
  40% {
    transform: translate3D(84%, 89%, 0) rotate(144deg);
  }
  45% {
    transform: translate3D(92%, 68%, 0) rotate(162deg);
  }
  50% {
    transform: translate3D(99%, 47%, 0) rotate(180deg);
  }
  55% {
    transform: translate3D(97%, 21%, 0) rotate(198deg);
  }
  60% {
    transform: translate3D(80%, 7%, 0) rotate(216deg);
  }
  65% {
    transform: translate3D(68%, 25%, 0) rotate(234deg);
  }
  70% {
    transform: translate3D(59%, 41%, 0) rotate(251deg);
  }
  75% {
    transform: translate3D(50%, 63%, 0) rotate(270deg);
  }
  80% {
    transform: translate3D(38%, 78%, 0) rotate(288deg);
  }
  85% {
    transform: translate3D(21%, 92%, 0) rotate(306deg);
  }
  90% {
    transform: translate3D(3%, 79%, 0) rotate(324deg);
  }
  100% {
    transform: translate3D(0%, 51%, 0) rotate(360deg);
  }
}

.glow-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;

  width: 100%;
  min-height: 100vh;
}
